<!DOCTYPE html>
<html lang="en">
    <head>
         <meta name="viewport" content="initial-scale=1, width=device-width">
         <meta charset="utf-8">
        <title> Bio</title>
        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&display=swap" rel="stylesheet">
        
        <!--my css-->
        <link href="../static/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="bio-grid">
            <div class="color-change-button">
                <div class="flex">
                    <div>
                        <form action="../index.html">
                            <button>Back</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="bio-text">
                <div class="flex">
                    <div>
                        <p>
                            Guillermo is an <b>engenieer at heart</b>. His tools being his violin, his bow and his <b>insatiable curiosity</b>.
                            Born in Mexico city in a family of music-lovers. He learned
                            piano with Isolda Stepanova and violin with Alexander Klochkov.
                            With only 16 years of age, he held an <b>accademist position</b> at the Carlos Chavez Symphony Orchestra, with whom
                            he later debuted as soloist playing J. S. Bach´s A minor violin concerto.
                            Guillermo was granted the “Kyra and Douglas
                            Downie” and “Linda Hill” awards for his musical talent, after
                            being accepted at the Royal College of
                            Music in 2010 where he concluded his <b>bachelor degree</b> with
                            Daniel Rowland. He later concluded a
                            <b>Masters degree</b> and <b>postgraduate studies</b> in <b>historical performance practise</b> at
                            Mozarteum University with Vittorio
                            Ghielmi and Reinhard Goebel as his mentors.
                        </p>
                        <p>
                            During his studies, Guillermo closely learnt from and
                            collaborated with members of the Academy
                            of Ancient Music, the Orchestra of the
                            Age of Enlightenment and the Mahler Chamber Orchestra, like Steven Devine, Jonathan Manson and 
                            Matthew Truscott,
                            as well as well as with members of Il Giardino Armonico like Enrico Onofri and Vittorio Ghielmi, as well as with the english period ensemble
                            Florilegium.
                        </p> 
                        <p>
                            Guillermo has been a worthy participant at the Hermilo Novelo violin <b>competition</b> 2007 and the Vivaldi-Vienna string competiton 2019.
                            He had taken part in a variety of music <b>festivals</b>, both as soloist and chamber musician, including the Cevantino Festival, London Haendel Festival,
                            Innsbrucker Festwoche Der Alten Musik, Im Dialog Festival and Jazz and the City. 
                            Guillermo performs regularly with the Austrian <b>ensamble</b> Bach Werk Vokal, diving in the vast world of Bach's vocal music,
                            and with The Van Swietens, a young orchestra in collaboration with other
                            chamber musicians, including members
                            of the Hanson and Adelphi Quartets and with whom he recently 
                            has taken part in an
                            unprecedented <b>recording</b> of the 3rd and 4rd
                            Beethoven/Lachner Piano Concertos with string chamber orchestra.
                            Guillermo is a dedicated pedagogue working both as <b>violin pedagogue</b> and in regular workshops throughout the year, 
                            like the KlangKarton concert series for children, organised by the Stiftung Mozarteum. He has also taken part
                            in workshops with an emphasis on inclusivity for the Austrian  association
                            Spiel Raum Musik.   
                        </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>