<!DOCTYPE html>
<html lang="de">
    <head>
         <meta name="viewport" content="initial-scale=1, width=device-width">
         <meta charset="utf-8">
        <title> Bio</title>
        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Caveat&family=Nunito:wght@300;600&family=Playpen+Sans:wght@200;500&family=Roboto:wght@300;700&display=swap"
            rel="stylesheet"> 
        <!--my css-->
        <link href="../static/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="bio-grid">
            <div class="color-change-button">
                <div class="flex">
                    <div>
                        <form action="../index.html">
                            <button>Zurück</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="text">
                <div class="flex">
                    <div>
                        <p>
                            Guillermo Martínez, in Mexiko-Stadt geboren, studierte Geige mit Alexander Klochkov, der ein Alumni des Yuri
                            Yankelevich im Moskau Conservatoire war.
                            Mit 16 Jahren war er Akademist beim Orquesta Sinfónica Carlos Chávez, mit dem er als junger Solist das Violinkonzert in A moll von J. S Bach aufführte.
                            Er schloss sein Bachelorstudium bei Daniel Rowland, der selbst mit Ivry Gitlis studiert hat, am Royal College of Music in London ab. Seinen Master absolvierte 
                            er am Mozarteum Salzburg in Historischer Auffürungspraxis bei Vittorio Ghielmi und Reinhard Goebel. Zudem nahm er Jazz- und Improvisationsunterricht bei 
                            Benjamin Schmidt und Sabina Hank.
                        </p>
                        <p>
                            Guillermo trat bei verschiedenen Musikfestivals in seiner Heimat Mexiko sowie in Österreich auf: Cervantino International Festival 2012, London Händel Festival 2013, 
                            Innsbrucker Festwoche Der Alten Musik 2016, Salzburger Jazz and the City 2018 und Salzburg Dialoge Festival 2020 auf. Er arbeitete zusammen mit zahlreichen Dirigenten 
                            wie Bernard Haitink, Juan Carlos Lomonaco, Hansjörg Albrecht, Enrico Onofri, Andrew Manze, Vanni Moretto, Reinhard Goebel und Peter Stark.
                            Im Jahr 2007 nahm er am Hermilo Novelo Violinwettbewerb und am Vivaldi- Vienna Streichwettbewerb 2019 teil. Er hat Meisterkurse bei Künstlern wie Dora Schwarzberg, 
                            Leonid Kerbel und Jordi Savall besucht und mit Mitgliedern des Orchesters “Academy of Ancient Music”, dem “Orchestra of the Age of Enlightenment” und dem 
                            “Mahler Chamber Orchester” wie Matthew Truscott, Steven Devine und Jonathan Manson eng zusammengearbeitet.
                        </p>
                        <p>
                            2011 bis 2014 verlieh ihm das Royal College of Music die “Kyra and Douglas Down- ie” und “Linda Hill” Auszeichnungen für herausragende musikalische Leistungen.
                            Derzeit wohnt Guillermo in Salzburg und tritt regelmäßig als Kammermusiker sowie mit Ensembles wie BachWerkVocal, The Van Swietens und der Salzburger Hofmusik auf.
                            Seit 2018 ist er als Geiger Teil der "Mittendrin" Kinderkonzerte, einer Konzertreihe für Kleinkinder und Eltern der Stiftung Mozarteum. 2021 war er Workshopleiter 
                            für den Verein „Spiel Raum Musik“ innerhalb einer Projektwoche mit inklusivem künstlerisch-pädagogischen Schwerpunkt.
                            Neben seinen künstlerischen Tätigkeiten, hat Guillermo bereits vier Jahre Unter- richtserfahrung als Geigenpädagoge in einer privaten Schule in München. 
                            Er unterrichtet Anfänger sowohl als Fortgeschrittene und bietet ein facettenreiches Material von
                            Klassik über Folksmusik bis hin zu selbst gestalteten Arrangements und Kompositionen an.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>