<!DOCTYPE html>
<html lang="de">
    <head>
         <meta name="viewport" content="initial-scale=1, width=device-width">
         <meta charset="utf-8">
        <title>Impressum</title>
        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Caveat&family=Nunito:wght@300;600&family=Playpen+Sans:wght@200;500&family=Roboto:wght@300;700&display=swap" 
            rel="stylesheet"> 
        <!--my css-->
        <link href="../static/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="bio-grid">
            <div class="color-change-button">
                <div class="flex">
                    <div>
                        <form action="../index.html">
                            <button>Zurück</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="text">
                <div class="flex">
                    <div>
                        <p>
                            <h2>Impressum</h2>
                                <p>
                                    Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63 Gewerbeordnung und Offenlegungspflicht laut §25 Mediengesetz.
                                </p>
                                    
                                    <p>
                                        Guillermo Martinez Ruiz
                                    </p>
                                    <p>
                                        
                                        Zwieselweg 12, 5020 Salzburg
                                        Österreich
                                    </p>
                                    
                                    <p>Tel.: +43 (0)660 8405352</p>
                                    <p>E-Mail: gumarudego@gmail.com </p>
                                    <p>Unternehmensgegenstand: Musik </p>
                                </p>
                                <h3>EU-Streitschlichtung</h3>
                                <p>
                                Verbraucher haben die Möglichkeit, Beschwerden 
                                an die OnlineStreitbeilegungsplattform der EU zu richten: http://ec.europa.eu/odr. 
                                </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<!DOCTYPE html>