<!DOCTYPE html>
<html lang="de">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <head>
        <head>
            <meta name="viewport" content="initial-scale=1, width=device-width">
            <meta charset="utf-8">
           <title>My Website</title>
           <!--Fonts-->
           <link rel="preconnect" href="https://fonts.googleapis.com">
           <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
           <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Caveat&family=Nunito:wght@300;600&family=Playpen+Sans:wght@200;500&family=Roboto:wght@300;700&display=swap" 
               rel="stylesheet">
           
           <!--my css-->
           <link href="../static/style.css" rel="stylesheet">
           <script src="script.js"></script>
        <title>File download</title>
    </head>
    <body>
        <div class="bio-grid">
            <div class="color-change-button">
                <div class="flex">
                    <div>
                        <form action="../index.html">
                            <button>Zurück</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="text">
                <table>
                    <caption>Resourcen</caption>
                    <tr>
                        <th>Name</th>
                        <th>Besetzung</th>
                        <th>Herunterladen</th>
                    </tr>                     
                    <tr>
                        <td data-cell="name">"D-dur Tonleiter"</td>
                        <td data-cell="Besetzung">Solo</td>
                        <td data-cell="Herunterladen"><a href="../music/d_tonteiter.pdf" target="_blank" download>pdf  ⬇️</a></td>
                    </tr>           
                    <tr>
                        <td data-cell="Name">"Funkel Funkel, Kleine Stern"</td>
                        <td data-cell="Besetzung">Solo</td>
                        <td data-cell="Herunterladen"><a href="../music/twinkle.pdf" target="_blank" download>pdf  ⬇️</a></td>
                    </tr>                                
                    <tr>
                        <td data-cell="Name">"Promororaca"</td>
                        <td data-cell="Besetzung">Vln, Bf, Gtr, Kl</td>
                        <td data-cell="Herunterladen"><a href="../music/promoroaca.pdf" target="_blank" download>pdf ⬇️</a></td>
                    </tr>                                
                    <tr>
                        <td data-cell="Name">"Ode an die Freude"</td>
                        <td data-cell="Besetzung">Vln1, Vln2</td>
                        <td data-cell="Herunterladen"><a href="../music/freude_duo.pdf" target="_blank" download>pdf ️⬇️</a></td>
                    </tr>                                
                    <tr>
                        <td data-cell="Name">"Contretanz No. 2, KV. 609"</td>
                        <td data-cell="Besetzung">Vln, Bf, Gtr, Kl</td>
                        <td data-cell="Herunterladen"><a href="../music/mozart.pdf" target="_blank" download>pdf ️⬇️</a></td>
                    </tr>    
                </table>
            </div>
        </div>
    </body>
</html>
